@import url("leaflet/dist/leaflet.css");

.title {
  text-align: center;
  padding-bottom: 20px;
}

.subtitle {
  font-size: large;
}

.object-id {
  text-align: left;
  label {
    padding-left: 10px;
  }
}

.date {
  text-align: right;

  label {
    padding-right: 10px;
  }
}

#map-2 {
  width: 100%;
  height: 250px;
}
